*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(164, 246, 255);
}
.container{
    display: flex;
    width: 400px;
    height: 390px;
    flex-wrap: wrap;
    background-color: black

}

button{
    height:75px;
    width:100px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;

}

#zero{
    flex-grow: 2;
}

.display{
    height:100px;
    background-color: #b2b9b7;
    font-size: 64px;
    text-align: right;
    border: black 6px solid;
    overflow: hidden;
}

.number{
    background-color: aquamarine;
}

.misc{
    background-color:magenta
}

.operator{
    background-color: orange;
}

.calculator{
    max-height: 800px;
    border:10px solid rgba(47,47,47,1);
    background-color: black;
    max-width: 422px;
}