body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 400px;
    border: 6px solid  rgb(102, 102, 102);
    height: 390px;
    flex-wrap: wrap;
    background-color: rgb(102, 102, 102);

}

button{
    height:75px;
    width:100px;
    border-radius: 4px;

}

#zero{
    flex-grow: 2;
}

.display{
    width:400px;
    height:75px;
    background-color: rgba(20, 191, 20, 0.763);
    border: 6px solid  rgb(102, 102, 102) ;
    font-size: 64px;
    text-align: right;
}

.number{
    background-color: aquamarine;
}

.misc{
    background-color:magenta
}

.operator{
    background-color: orange;
}

.calculator{
    max-height: 800px;
    border: solid pink;
}